.wpcf7 {
    position: relative;
    padding: 25px 15px 45px;
    margin-bottom: 15px;
    background: #f1f1f1;
    border-radius: 5px;

    .wpcf7-form-control-wrap {
        position: relative;
        display: block;
        padding-bottom: 25px;
    }

    .wpcf7-not-valid-tip {
        position: absolute;
        bottom: 7px;
        left: 0;
        font-size: 13px;
        color: $primary-color;
    }

    .wpcf7-response-output {
        text-align: center;
        margin: 35px 0 0 0 !important;
        padding: 10px 0 !important;
    }

    .wpcf7-submit {
        margin: 15px 0 0 0;
    }

    .wpcf7-spinner {
        position: relative;
        top: 9px;
    }
    
    .user-file-wrapper {
        font-size: 16px;
        margin-bottom: 25px;
        position: relative;
    
        .wpcf7-form-control-wrap {
            margin: 0;
            padding: 0;
        }
    
        label {
            margin-bottom: 33px;
        }
    
        label br {
            display: none;
        }
    
        label i {
            color: #d61d25;
            font-size: 20px;
            padding-right: 10px;
        }
    
        label span {
            color: #969696;
            display: block;
            font-size: 12px;
            font-weight: 100;
        }
    
        .wpcf7-file {
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
        }
    
        .file-list-wrapper {
            background: #f8f8f8;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            color: #000;
            display: flex;
            left: 0;
            padding: 10px 45px 10px 15px;
            position: absolute;
            top: 0;
            width: 100%;
    
            .file-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
    
            i {
                cursor: pointer;
                font-size: 25px;
                line-height: 1;
                padding: 5px;
                position: absolute;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);
            }
    
            i:hover {
                color: #d61d25;
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, md) ) {
        padding: 45px;
    }
}

.contact-info {
    margin-bottom: 70px;

    p {
        margin-top: 0;
        img {
            border-radius: 5px;
            width: 100%;
            filter: grayscale(80%);
        }
    }
    h3 {
        font-size: 26px;
    }
    a {
        display: block;
        margin-top: 15px;
        color: $text-color;

        &:hover {
            color: $primary-color;
        }
    }
}