.custom-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    max-width: $container-width;
    margin: 0 auto;
}

.site-header {
    padding: 15px 0;

    .custom-logo-link {
        display: block;
        font-size: 0;
    }
    .custom-logo {
        width: 120px;
        height: auto;
    }

    .custom-container {
        align-items: center;
    }
}

.front-header {
    padding: 25px 0;

    h1 {
        margin: 0.2em 0 0.5em 0;
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 16px;
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;
        display: block;
        margin-top: 60px;

        &:hover {
            color: lighten($primary-color, 15%);
        }
    }

    .column {
        height: 100%;
        &.text {
            p:first-child {
                display: flex;
                align-items: center;
            }
        }
        &.image {
            width: 40%;
        }
    }

    @media (max-width: 768px) {

        padding: 0;

        .custom-container {
            flex-wrap: wrap;
            .column {
                width: 100%;
                text-align: center;
                &.text {
                    p:first-child {
                        justify-content: center;
                    }
                }

                &.image {
                    img {
                        max-width: 320px;
                    }
                }
            }
        }
    }
}

