.custom-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    max-width: $container-width;
    margin: 0 auto;
}

.site-header {
    // padding: 45px 0;

    .custom-logo-link {
        display: block;
        font-size: 0;
    }
    .custom-logo {
        width: 251px;
        height: auto;
    }

    .custom-container {
        align-items: center;
        padding: 45px 0;
    }
}

.front-header {
    padding: 20px 0 45px 0;

    h1 {
        margin: 0 0 0.5em 0;
    }

    p {
        font-size: 19px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    a {
        @include text-link;
    }

    .column {
        height: 100%;
        &.text {
            p:first-child {
                display: flex;
                align-items: center;
            }
        }
        &.image {
            width: 35%;
        }
    }

    @media (max-width: 768px) {

        padding: 0;

        .custom-container {
            flex-wrap: wrap;
            .column {
                width: 100%;
                text-align: center;
                &.text {
                    p:first-child {
                        justify-content: center;
                    }
                }

                &.image {
                    img {
                        max-width: 320px;
                    }
                }
            }
        }
    }
}

