.cta {
    padding: 60px 0;
    background: lighten($primary-color, 25%);
    h2 {
        color: #fff;
    }

    a {
        padding: 15px;
        background: $primary-color;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        display: inline-block;
        margin-top: 20px;

        &:hover {
            background: darken($primary-color, 5%);
        }
    }
}