input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea {
    display: block;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    outline: none;
    width: 100%;
}

input[type="submit"] {
    border: none;
    border-radius: 5px;
    background: $primary-color;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.3s ease-out;
    font-weight: bold;

    &:hover {
        background: darken($primary-color, 10%);
        transition: background 0.3s ease-in;
    }
}