public/*
!public/wp-content/

public/wp-content/*

# exclude all theme except glead
!public/wp-content/themes/
public/wp-content/themes/*
!public/wp-content/themes/glead

# !public/wp-content/mu-plugins/

# ignore these plugins
# public/wp-content/plugins/hello.php

# ignore node dependency directories
node_modules/
vendor/
.db/
wp-config.php

# ignore log files and databases
*.log
*.sql
*.sqlite
.env

