@import "../../node_modules/normalize.css/normalize";

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $primary-color;
    &:hover {
        color: lighten( $primary-color, 15% );
    }
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
}