.timeline {

    .wp-block-columns {  // row of content
        position: relative;
        margin-bottom: 0;
        padding-bottom: 1em;

        &:before{
            position: absolute;
            left: 50%;
            content: '';
            width: 1px;
            background: repeating-linear-gradient(0, var(--wp--preset--color--primary), var(--wp--preset--color--primary) 6px, transparent 6px, transparent 11px) fixed;
            bottom: 0;
            top: 50%;
        }

        & ~ .wp-block-columns {
            &:before {
                top: 0;
            }
        }
    
        &:last-child {
            &:before {
                bottom: 50%;
            }
        }
       
        .wp-block-column {
            p {
                margin: 0;
                & + p {
                    margin-top: 1rem;
                }
            }
        }

        .wp-block-column:nth-child(2) { // only second (middle) block
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                display: inline-block;
                color: #fff;
                padding: 18px;
                background: #d61d25;
                border: 4px solid var(--wp--preset--color--primary);
                border-radius: 50%;
                font-size: 34px;
            }
        }
    }

   
    @media (max-width: 782px) {

        .wp-block-columns {

            &:before {
                top: 10%;
                left: 39px;
            }

            &:last-child {
                &:before {
                    bottom: 60%;
                }
            }

            .wp-block-column {
                margin: 0 !important;
            }

            .wp-block-column:nth-child(2) {
                flex-basis: 100px !important;
                justify-content: left;
                align-items: flex-start;

                i {
                    margin-top: 20px;
                }
            }
        }

        .wp-block-columns:nth-child(odd) {

            flex-direction: row-reverse;

            .wp-block-column:first-child {
                .has-text-align-right {
                    text-align: left;
                }
            }

            .wp-block-column:last-child {
                flex-basis: 0;
                flex-grow: 0;
            }
        }

        .wp-block-columns:nth-child(even) {

            .wp-block-column:first-child {
                flex-basis: 0;
                flex-grow: 0;
            }
        }
    }
}